.b-services {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}
.b-services__item {
  overflow: hidden;
  display: inline-block;
  width: 34.1%;
  text-align: left;
  position: relative;
  margin: -10px;
  outline: none;
}
.b-services__item-name {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.b-services__item-name-text {
  color: #4b88d8;
  font-size: 32px;
  line-height: 39px;
  padding: 0 12px;
  background: rgba(255,255,255,0.9);
  font-family: 'Proxima-Bold';
  text-transform: uppercase;
}
.b-services__item-img {
  max-width: 101%;
  height: auto;
  position: relative;
  display: block;
  margin-left: -3%;
  margin-top: -3%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transition: -moz-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
}
.b-services__item:hover .b-services__item-img {
  -webkit-transform: translate(3%, 3%);
  -moz-transform: translate(3%, 3%);
  -ms-transform: translate(3%, 3%);
  -webkit-transform: translate(3%, 3%);
  -moz-transform: translate(3%, 3%);
  -o-transform: translate(3%, 3%);
  -ms-transform: translate(3%, 3%);
  transform: translate(3%, 3%);
}
.b-services__container {
  width: 102.5%;
}
