.b-smart-projects {
	text-align: center;
	background: url(../blocks/b-smart-projects/bg.png) no-repeat center 160px;
	padding: 50px 0;
}

.b-smart-projects__title {
	width: 500px;
	font-size: 32px;
	line-height: 40px;
	font-family: 'Proxima-Bold';
	text-transform: uppercase;
	margin: auto;
}

.b-smart-projects__lasttext {
	font-size: 32px;
	line-height: 40px;
	font-family: 'Proxima-Bold';
	text-transform: uppercase;
}

.b-smart-projects__subtitle {
	font-size: 22px;
	line-height: 20px;
	font-family: 'Proxima-Bold';
}

.b-smart-projects__clients-item {
	display: inline-block;
	vertical-align: top;
}

.b-smart-projects__clients-clear {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.b-smart-projects__clients-item_client_microsoft {
	width: 214px;
	height: 46px;
	background: url(../blocks/b-smart-projects/microsoft.png) no-repeat;
	margin-top: 8px;
	margin-right: 115px;
}

.b-smart-projects__clients-item_client_sap {
	width: 101px;
	height: 50px;
	background: url(../blocks/b-smart-projects/sap.png) no-repeat;
	margin-top: 6px;
	margin-right: 210px;
}

.b-smart-projects__clients-item_client_domru {
	width: 62px;
	height: 62px;
	background: url(../blocks/b-smart-projects/domru.png) no-repeat;
}

.b-smart-projects__clients {
	width: 710px;
	margin: auto;
	margin-top: 55px;
	margin-bottom: 55px;
	text-align: justify;
}