.b-clients {
	width: 100%;
	height: 282px;
	text-align: center;
	background: url(../blocks/b-clients/bg.png) no-repeat center 88px;
}

.b-clients__title {
	width: 470px;
	margin: auto;
	font-size: 32px;
	line-height: 40px;
	font-family: 'Proxima-Bold';
	color: #000;
	text-transform: uppercase;
	padding-top: 50px;
}

.b-clients__clients {
	margin-top: 40px;
}

.b-clients__item {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
}

.b-clients__item_client_microsoft {
	width: 214px;
	height: 46px;
	background: url(../blocks/b-clients/microsoft.png) no-repeat;
	margin-top: 6px;
}

.b-clients__item_client_sap {
	width: 101px;
	height: 50px;
	background: url(../blocks/b-clients/sap.png) no-repeat;
}

.b-clients__item_client_yandex {
	width: 128px;
	height: 51px;
	background: url(../blocks/b-clients/yandex.png) no-repeat;
}

.b-clients__item_client_domru {
	width: 50px;
	height: 50px;
	background: url(../blocks/b-clients/domru.png) no-repeat;
}

.b-clients__item_client_papajohns {
	width: 127px;
	height: 53px;
	background: url(../blocks/b-clients/papajohns.png) no-repeat;
}

.b-clients__item_client_cpro {
	width: 242px;
	height: 40px;
	background: url(../blocks/b-clients/cpro.png) no-repeat;
	margin-top: 14px;
}