.b-contact-us {
  background: #000;
  text-align: center;
}
.b-contact-us__title {
  width: 350px;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-family: 'Proxima-Bold';
  text-transform: uppercase;
  color: #fff;
  margin: auto;
  padding-top: 55px;
}
.b-contact-us__title_color_black {
  color: #000;
  background: #fff;
  padding: 0 5px;
  line-height: 34px;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-bottom: 3px;
  padding-top: 2px;
}
.b-contact-us__features {
  padding-top: 30px;
}
.b-contact-us__features-item-name {
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}
.b-contact-us__features-row {
  text-align: center;
}
.b-contact-us__features-item {
  width: 230px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 65px;
}
.b-contact-us__button {
  margin-bottom: 60px;
}
.b-contact-us__features-item-icon {
  width: 85px;
  height: 85px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
  -webkit-transition: top ease-in-out 0.1s;
  -moz-transition: top ease-in-out 0.1s;
  -o-transition: top ease-in-out 0.1s;
  -ms-transition: top ease-in-out 0.1s;
  transition: top ease-in-out 0.1s;
  top: 0;
}
.b-contact-us__features-item-icon:hover {
  top: -10px;
}
.b-contact-us__features-item-icon_icon_rocket {
  background: url("../blocks/b-contact-us/rocket.png") no-repeat;
}
.b-contact-us__features-item-icon_icon_love {
  background: url("../blocks/b-contact-us/love.png") no-repeat;
}
.b-contact-us__features-item-icon_icon_dumbbell {
  background: url("../blocks/b-contact-us/dumbbell.png") no-repeat;
}
.b-contact-us__features-item-icon_icon_chart {
  background: url("../blocks/b-contact-us/chart.png") no-repeat;
}
.b-contact-us__features-item-icon_icon_mouse {
  background: url("../blocks/b-contact-us/mouse.png") no-repeat;
}
.b-contact-us__features-item-icon_icon_led {
  background: url("../blocks/b-contact-us/led.png") no-repeat;
}
