.b-menu {
  float: right;
  padding-top: 20px;
}
.b-menu__item {
  font-size: 14px;
  line-height: 14px;
  margin-right: 33px;
  float: left;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 1;
  -webkit-transition: opacity linear 0.1s;
  -moz-transition: opacity linear 0.1s;
  -o-transition: opacity linear 0.1s;
  -ms-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;
}
.b-menu__item:hover {
  opacity: 0.6;
}
.b-menu__item_active_yes {
  font-family: 'Proxima-Bold';
}
.b-menu__item_active_yes,
.b-menu__item_active_yes:hover {
  opacity: 1;
}
