.b-menu {
  float: right;
  padding-top: 20px;
}

.b-menu__item {
  font-size: 14px;
  line-height: 14px;
  margin-right: 33px;
  float: left;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  linkHover();
}

.b-menu__item_active_yes {
  font-family: 'Proxima-Bold';
  &,
  &:hover {
    opacity: 1;
  }
}