.b-promo {
	width: 600px;
	height: 80px;
	text-align: center;
	margin: auto;
}

.b-promo__title {
	font-size: 42px;
	line-height: 48px;
	font-family: 'Proxima-Bold';
	color: #fff;
	text-transform: uppercase;
}

.b-promo_page_portfolio {
	padding-top: 120px;
}

.b-promo_page_main {
	padding-top: 105px;
}