.b-lets-work {
  width: 100%;
  height: 285px;
  background: url("../blocks/b-lets-work/bg.png") center 45px no-repeat;
  text-align: center;
/*overflow: hidden;*/
}
.b-lets-work__title {
  width: 550px;
  margin: auto;
  font-family: 'Proxima-Bold';
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  padding-top: 60px;
  position: relative;
}
.b-lets-work__button {
  margin-top: 30px;
}
.b-lets-work__rocket {
  width: 43px;
  height: 47px;
  background: url("rocket.png") no-repeat;
  position: absolute;
  top: 50px;
  right: -10px;
  z-index: 999;
}
.b-lets-work__rocket_animate_yes {
  -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.62, 0.02, 0.87, 0.35) 300ms;
  -moz-transition: -moz-transform 1200ms cubic-bezier(0.62, 0.02, 0.87, 0.35) 300ms;
  -ms-transition: -ms-transform 1200ms cubic-bezier(0.62, 0.02, 0.87, 0.35) 300ms;
  -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.62, 0.02, 0.87, 0.35) 300ms;
  -moz-transition: -moz-transform 1200ms cubic-bezier(0.62, 0.02, 0.87, 0.35) 300ms;
  -o-transition: -o-transform 1200ms cubic-bezier(0.62, 0.02, 0.87, 0.35) 300ms;
  -ms-transition: -ms-transform 1200ms cubic-bezier(0.62, 0.02, 0.87, 0.35) 300ms;
  transition: transform 1200ms cubic-bezier(0.62, 0.02, 0.87, 0.35) 300ms;
  -webkit-transform: translate(750px, -950px);
  -moz-transform: translate(750px, -950px);
  -ms-transform: translate(750px, -950px);
  -webkit-transform: translate(750px, -950px);
  -moz-transform: translate(750px, -950px);
  -o-transform: translate(750px, -950px);
  -ms-transform: translate(750px, -950px);
  transform: translate(750px, -950px);
}
