.b-header {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: top center;
}
.b-header__top {
  width: 1000px;
  margin: auto;
  font-family: 'Proxima-Regular';
  position: relative;
  left: -25px;
}
.b-header__top:after {
  display: block;
  content: '';
  clear: both;
}
.b-header_page_portfolio {
  background-image: url("../blocks/b-header/bg-portfolio.jpg");
}
.b-header_page_main {
  background-image: url("../blocks/b-header/bg-main.jpg");
  border-bottom: solid 4px #f1f1f1;
}
