.b-work-menu {
  text-align: center;
  padding: 15px 0;
}
.b-work-menu__item {
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  line-height: 42px;
  text-transform: uppercase;
  height: 42px;
  overflow: hidden;
}
.b-work-menu__item:hover .b-work-menu__link,
.b-work-menu__item_active_yes .b-work-menu__link {
  top: 0px;
}
.b-work-menu__item_active_yes .b-work-menu__link_active_yes {
  background: #000;
}
.b-work-menu__link {
  color: #101618;
  padding: 0 22px;
  display: block;
  text-decoration: none;
  -webkit-transition: top ease-in-out 0.4s;
  -moz-transition: top ease-in-out 0.4s;
  -o-transition: top ease-in-out 0.4s;
  -ms-transition: top ease-in-out 0.4s;
  transition: top ease-in-out 0.4s;
  top: -42px;
  position: relative;
}
.b-work-menu__link_active_yes {
  color: #fff;
  background: #4b88d8;
}
