.b-work-menu {
  text-align: center;
  padding: 15px 0;
  
  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    line-height: 42px;
    text-transform: uppercase;
    height: 42px;
    overflow: hidden;
  }
  &__item:hover &__link,
  &__item_active_yes &__link {
    top: 0px;
    
  }
  &__item_active_yes &__link_active_yes  {
    background: #000;
  }  
  &__link {
    color: #101618;
    padding: 0 22px;
    display: block;
    text-decoration: none;
    transition: top ease-in-out 0.4s;
    top: -42px;
    position: relative;
  }
  &__link_active_yes {
    color: #fff;
    background: #4b88d8;
  }
}