.b-footer__menu {
  background: #000;
  color: #fff;
}

.b-footer__menu-colums {
  width: 900px;
  margin: auto;
  padding: 55px 0;
  position: relative;
  left: 50px;
}

.b-footer__menu-column {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}

.b-footer__menu-title {
  font-size: 22px;
  font-family: 'Proxima-Bold';
  margin-bottom: 23px;
}

.b-footer__menu-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  linkHover();
}

.b-footer__menu-link-row {
  margin-bottom: 14px;
}

.b-footer__menu-column .b-footer__menu-link-row:last-child {
  margin-bottom: 0;
}

.b-footer__contacts {
  height: 60px;
  background: #2b2e2e;
}

.b-footer__contacts-wrapper {
  width: 800px;
  margin: auto;
}

.b-footer__contacts-link {
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  padding-right: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  linkHover();
}

.b-footer__contacts-list {
  float: left;
}

.b-footer__contacts-copyright {
  float: right;
}

.b-footer__contacts-wrapper:after {
  content: '';
  display: block;
  clear: both;
}

.b-footer__contacts-copyright {
  font-size: 16px;
  line-height: 60px;
  color: #fff;
}

.b-footer__contacts-link_type_mail {
  background: url(../blocks/b-footer/mail.png) center right no-repeat;
}

.b-footer__contacts-link_type_fb {
  background: url(../blocks/b-footer/fb.png) center right no-repeat;
}

.b-footer__contacts-link_type_vimeo {
  background: url(../blocks/b-footer/vimeo.png) center right no-repeat;
}