.b-quads {
  width: 100%;
  border-top: solid 4px #f1f1f1;
  position: relative;
  &__items {
    font-size: 0px;
  }
  /*&__item:active &__item-content-title {
    color: #1f84d9;
  }*/
}

.b-quads__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 460px;
  line-height: 460px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-right: -2px;
  cursor: pointer;
  box-sizing: border-box;
  perspective: 800px;
  &,
  &:hover,
  &:active {
    color: rgb(42, 42, 42);
  }
}
.b-quads__item-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  /* -webkit-transform-style: preserve-3d; */
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.b-quads__item_num_1 {
  background: #fafafa;
}

.b-quads__item_num_2 {
  background: #e9eaea;
}

.b-quads__item_num_3 {
  background: #f7f7f7;
}

.b-quads__item_num_4 {
  background: #f0f0ef;
}

.b-quads__title {
  width: 100%;
  position: absolute;
  top: 53px;
  text-align: center;
  pointer-events: none
}
.b-quads__img-wr {
  height: 352px;
  text-align: center;
}
.b-quads__title-text {
  display: inline-block;
  vertical-align: top;
  font-size: 32px;
  line-height: 34px;
  padding: 2px 6px;
  padding-bottom: 0px;
  font-family: 'Proxima-Bold';
  text-transform: uppercase;
  color: #fff;
  background: #000;
  margin-bottom: 8px;
  pointer-events: none;
}

.b-quads__item-title {
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase
}

.b-quads__item-img_pos_1 {
  margin: -70px 0 0 70px;
}
.b-quads__item-img_pos_2 {
  margin: -45px 0 0;
}
.b-quads__item-img_pos_3 {
  margin: -83px 0 0;
}
.b-quads__item-img_pos_4 {
  margin: -58px 0 0;
}


.b-quads__item-img_pos_5 {
  margin: -77px 0 0 15px;
}
.b-quads__item-img_pos_6 {
  margin: -68px 0 0 5px;
}
.b-quads__item-img_pos_7 {
  margin: -60px 0 0 -15px;
}
.b-quads__item-img_pos_8 {
  margin: -10px 0 0 -68px;
}
  
  
.b-quads__item-img_pos_9 {
  margin: -75px 0 0 8px;
}
.b-quads__item-img_pos_10 {
  margin: -74px 0 0 -10px;
}
.b-quads__item-img_pos_11 {
  margin: -70px 0 0 40px;
}
.b-quads__item-img_pos_12 {
  margin: -86px 0 0 18px;
}

.b-quads__item-after-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  line-height: 460px;
  transform:  rotateX( 180deg );
  overflow: hidden;
  background: #FFFFFF;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.b-quads__item:hover .b-quads__item-card {
  transform: rotateX( 180deg );
}
.b-quads__item-before-hover {
  width: 100%;
  height: 100%;
  /*padding-left 20%*/
  text-align left
  box-sizing border-box
  padding-top 40px
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.b-quads__item-content {
  width: 300px;
  height: 160px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  /*position: relative;*/
  /*left: 20%;*/
}

.b-quads__item-content-title {
  transition: color ease-in-out 0.2s
  font-size: 22px;
  line-height: 28px;
  font-family: 'Proxima-Bold';
  text-transform: uppercase;

  padding-bottom: 6px;
}

.b-quads__item-content-text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.b-quads__item-content-line {
  width: 154px;
  height: 1px;
  background: #a1a1a1;
  border-top: solid 1px #dddddd;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.b-quads__item-img-hover_pos_1 {
  position: absolute;
  left: -117px;
  bottom: -140px;
}

.b-quads__item-img-hover_pos_2 {
  position: absolute;
  right: -117px;
  bottom: -130px;
}

.b-quads__item-img-hover_pos_3 {
  position: absolute;
  left: -117px;
  bottom: -130px;
}

.b-quads__item-img-hover_pos_4 {
  position: absolute;
  right: -117px;
  bottom: -115px;
}

.b-quads__item-img-hover_pos_5 {
  position: absolute;
  left: -117px;
  bottom: -280px;
}

.b-quads__item-img-hover_pos_6 {
  position: absolute;
  right: -210px;
  bottom: -250px;
}

.b-quads__item-img-hover_pos_7 {
  position: absolute;
  left: -100px;
  bottom: -90px;
}

.b-quads__item-img-hover_pos_8 {
  position: absolute;
  right: -130px;
  bottom: -240px;
}

.b-quads__item-img-hover_pos_9 {
  position: absolute;
  left: -130px;
  bottom: -30px;
}

.b-quads__item-img-hover_pos_10 {
  position: absolute;
  right: -90px;
  bottom: -90px;
}

.b-quads__item-img-hover_pos_11 {
  position: absolute;
  left: -30px;
  bottom: -130px;
}

.b-quads__item-img-hover_pos_12 {
  position: absolute;
  right: -150px;
  bottom: -140px;
}

.b-quads__item-content-text_highlight_1 {
  background: #58919f;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_2 {
  background: #d7453f;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_3 {
  background: #dab539;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_4 {
  background: #75aeba;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_5 {
  background: #4c8448;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_6 {
  background: #d7453f;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_7 {
  background: #dab539;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_8 {
  background: #75aeba;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_9 {
  background: #4c8448;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_10 {
  background: #d7453f;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_11 {
  background: #dab539;
  color: #fff;
  padding: 0 3px;
}

.b-quads__item-content-text_highlight_12 {
  background: #75aeba;
  color: #fff;
  padding: 0 3px;
}