.b-button {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  font-family: 'Proxima-Bold';
  font-size: 20px;
  text-decoration: none;
  padding: 0 60px;
  color: #fff;
  border: none;
}
button.b-button,
input.b-button {
  line-height: auto;
}
.b-button_color_blue {
  background-color: #4b88d8;
  -webkit-transition: background-color linear 0.1s;
  -moz-transition: background-color linear 0.1s;
  -o-transition: background-color linear 0.1s;
  -ms-transition: background-color linear 0.1s;
  transition: background-color linear 0.1s;
}
.b-button_color_blue:hover {
  background-color: #cc2b27;
}
