.b-button {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  font-family: 'Proxima-Bold';
  font-size: 20px;
  text-decoration: none;
  padding: 0 60px;
  color: #fff;
  border: none;
  button&,
  input& {
    line-height: auto;
  }
}

.b-button_color_blue {
  background-color: #4b88d8;
  transition: background-color linear 0.1s;
  &:hover {
    background-color: #cc2b27;
  }
}