.b-works {
  vertical-align: top;
  text-align: center;
}
.b-works__item {
  width: 100%;
  min-width: 435px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  margin: 0;
  overflow: hidden;
/*@media(min-width: 1740px) {
    width: 25%;
  }*/
}
@media (min-width: 870px) {
  .b-works__item {
    width: 50%;
  }
}
@media (min-width: 1305px) {
  .b-works__item {
    width: 33.33333%;
  }
}
.b-works__item-img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.b-works__item-name {
  text-align: left;
  display: block;
  width: 100%;
  padding: 0 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 22px;
  line-height: 51px;
  color: #4f83d5;
  background: rgba(255,255,255,0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
