.b-popup {
  &__wrp {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 10;
  }
  .show&__wrp {
    display: block;
  }
  &__content {
    background-color: #fff;
    padding: 30px 70px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -219px;
    margin-top: -250px;
    border-radius: 4px;
    color: #000;
    width: 438px;
    box-sizing: border-box;
    display none
  }
  &__title {
    margin: 0;
    font-size: 32px;
    margin-bottom: 11px;
    text-align: center;
    font-weight: bolder
    .b-popup__content & {
      text-align: left;
      padding-top: 19px;
      margin-bottom: 31px;
    }
  }
  &__text {
    margin: 10px 0 19px;
    font-size: 22px;
    line-height: 25px;
    text-align: center
  }
  &__phone {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 9px 13px 9px 13px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 17px;
    height: 44px;
    font-family 'Proxima-Regular'
    font-size 22px;
    &:focus {
      outline none;
      border-color: #525659;
    }
    &::-webkit-input-placeholder {
      color #989898
    }
    &:-moz-placeholder {
      color #989898
    }
  }
  &__mail {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 9px 13px;
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 17px;
    font-family 'Proxima-Regular'
    font-size 22px;
    &:focus {
      outline none;
      border-color: #525659;
    }
    &::-webkit-input-placeholder {
      color #989898
    }
    &:-moz-placeholder {
      color #989898
    }
  }
  &__input-wrp {
    position relative
  }
  &__placeholder {
    color black
    font-size 1rem
    position absolute
    top: 10px
    left 15px
  }
  &__textarea {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 9px 13px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
    height: 228px;
    font-family 'Proxima-Regular'
    font-size 22px;
    max-height: 460px
    &:focus {
      outline none;
      border-color: #525659;
    }
    &::-webkit-input-placeholder {
      color #989898
    }
    &:-moz-placeholder {
      color #989898
    }
  }
  &__submit {
    color: #fff;
    padding: 0 15px;
    width: 100%;
    font-size: 22px;
    height: 60px;
    outline none
    cursor pointer
    margin-top: 15px;
    border: 1px solid #aa050f;
    background: #aa050f;
    font-family: 'Proxima-Bold';
    transition: all linear 0.1s;
  }
  &__submit:hover {
    background-color: white;
    color: #aa050f;
  }
  &__submit:active {
    background: #aa050f;
    color: #fff;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    width: 14px;
    height: 14px;
    opacity: 0.28;
    background: transparent url(b-popup__close.png);
    border: none;
    cursor: pointer;
    outline: none;
    z-index 1
  }
  &__close:hover {
    opacity: 1;
  }
  &__thank-content {
    display: none;
    background-color: #fff;
    padding: 20px 75px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -219px;
    margin-top: -270px;
    border-radius: 8px;
    color: #000;
    width: 438px;
    box-sizing: border-box;
    min-height: 540px;
  }

  &__thank-content &__title {
    line-height: 36px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  &__thank-content.show {
    display: block;
  }
  &__text-wrp {
    width: 230px;
    margin: 0 auto;
    text-align: center
  }
  &__text_thanks {
    color: #000;
    margin: 10px 0 2px;
    font-size: 22px;
    line-height: 25px;
    &>p {
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }
  &__subscr-content {
    display: none;
    background-color: #fff;
    padding: 40px 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -313px;
    margin-top: -168px;
    color: #000;
    width: 625px;
    box-sizing: border-box;
    min-height: 335px;
  }
  &__subscr-thank-image {
    position: absolute;
    right: 80px;
    top: 15px;
  }
  &-error {
    color $linkVisited
    margin 0 0 10px
  }
  &__link {
    color: #aa050f;
    text-decoration: none;
    hoverLink()
  }
}
