html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;}
audio:not([controls]){display:none}
[hidden]{display:none}
html{-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;color:#2a2a2a}
body{font-size:13px;line-height:17px;background:#fff}
::-moz-selection{background:#b3d4fc}
::selection{background:#b3d4fc}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
img{vertical-align:middle;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
ul{list-style:none}
legend{white-space:normal;margin-left:-7px}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:middle}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{padding:0;width:13px;height:13px}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn,em,i{font-style:italic}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:17px 0;padding:0}
pre,code,kbd,samp{font-family:$fontMono;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}
@font-face{font-family:'Proxima-Regular';src:url("../fonts/Proxima-Regular/Proxima-Regular.eot");src:url("../fonts/Proxima-Regular/Proxima-Regular.eot?#iefix") format('embedded-opentype'),url("../fonts/Proxima-Regular/Proxima-Regular.woff") format('woff'),url("../fonts/Proxima-Regular/Proxima-Regular.ttf") format('truetype')}
@font-face{font-family:'Proxima-Bold';src:url("../fonts/Proxima-Bold/Proxima-Bold.eot");src:url("../fonts/Proxima-Bold/Proxima-Bold.eot?#iefix") format('embedded-opentype'),url("../fonts/Proxima-Bold/Proxima-Bold.woff") format('woff'),url("../fonts/Proxima-Bold/Proxima-Bold.ttf") format('truetype')}
@font-face{font-family:'RistrettoPro-Regular';font-style:"normal";src:url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.eot");src:url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.eot?#iefix") format('embedded-opentype'),url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.woff") format('woff'),url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.ttf") format('truetype')}
