html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none}
[hidden]{display:none}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;color:#2a2a2a}
body{font-size:13px;line-height:17px;background:#fff}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
img{vertical-align:middle}
svg:not(:root){overflow:hidden}
ul{list-style:none}
legend{white-space:normal}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn,em,i{font-style:italic}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:17px 0;padding:0}
pre,code,kbd,samp{font-family:$fontMono;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}
@font-face{font-family:'Proxima-Regular';src:url("../fonts/Proxima-Regular/Proxima-Regular.eot");src:url("../fonts/Proxima-Regular/Proxima-Regular.eot?#iefix") format('embedded-opentype'),url("../fonts/Proxima-Regular/Proxima-Regular.woff") format('woff'),url("../fonts/Proxima-Regular/Proxima-Regular.ttf") format('truetype')}
@font-face{font-family:'Proxima-Bold';src:url("../fonts/Proxima-Bold/Proxima-Bold.eot");src:url("../fonts/Proxima-Bold/Proxima-Bold.eot?#iefix") format('embedded-opentype'),url("../fonts/Proxima-Bold/Proxima-Bold.woff") format('woff'),url("../fonts/Proxima-Bold/Proxima-Bold.ttf") format('truetype')}
@font-face{font-family:'RistrettoPro-Regular';font-style:"normal";src:url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.eot");src:url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.eot?#iefix") format('embedded-opentype'),url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.woff") format('woff'),url("../fonts/RistrettoPro-Regular/RistrettoPro-Regular.ttf") format('truetype')}
.b-button{display:inline-block;height:60px;line-height:60px;vertical-align:top;font-family:'Proxima-Bold';font-size:20px;text-decoration:none;padding:0 60px;color:#fff;border:none}
button.b-button,input.b-button{line-height:auto}
.b-button_color_blue{background-color:#4b88d8;-webkit-transition:background-color linear .1s;-moz-transition:background-color linear .1s;-o-transition:background-color linear .1s;-ms-transition:background-color linear .1s;-webkit-transition:background-color linear .1s;-moz-transition:background-color linear .1s;-o-transition:background-color linear .1s;-ms-transition:background-color linear .1s;transition:background-color linear .1s}
.b-button_color_blue:hover{background-color:#cc2b27}
.b-clients{width:100%;height:282px;text-align:center;background:url("../blocks/b-clients/bg.png") no-repeat center 88px}
.b-clients__title{width:470px;margin:auto;font-size:32px;line-height:40px;font-family:'Proxima-Bold';color:#000;text-transform:uppercase;padding-top:50px}
.b-clients__clients{margin-top:40px}
.b-clients__item{display:inline-block;vertical-align:top;margin:0 15px}
.b-clients__item_client_microsoft{width:214px;height:46px;background:url("../blocks/b-clients/microsoft.png") no-repeat;margin-top:6px}
.b-clients__item_client_sap{width:101px;height:50px;background:url("../blocks/b-clients/sap.png") no-repeat}
.b-clients__item_client_yandex{width:128px;height:51px;background:url("../blocks/b-clients/yandex.png") no-repeat}
.b-clients__item_client_domru{width:50px;height:50px;background:url("../blocks/b-clients/domru.png") no-repeat}
.b-clients__item_client_papajohns{width:127px;height:53px;background:url("../blocks/b-clients/papajohns.png") no-repeat}
.b-clients__item_client_cpro{width:242px;height:40px;background:url("../blocks/b-clients/cpro.png") no-repeat;margin-top:14px}
.b-contact-us{background:#000;text-align:center}
.b-contact-us__title{width:350px;text-align:center;font-size:32px;line-height:40px;font-family:'Proxima-Bold';text-transform:uppercase;color:#fff;margin:auto;padding-top:55px}
.b-contact-us__title_color_black{color:#000;background:#fff;padding:0 5px;line-height:34px;display:inline-block;vertical-align:top;margin-top:2px;margin-bottom:3px;padding-top:2px}
.b-contact-us__features{padding-top:30px}
.b-contact-us__features-item-name{font-size:20px;line-height:26px;color:#fff}
.b-contact-us__features-row{text-align:center}
.b-contact-us__features-item{width:230px;display:inline-block;vertical-align:top;margin-bottom:65px}
.b-contact-us__button{margin-bottom:60px}
.b-contact-us__features-item-icon{width:85px;height:85px;margin:auto;margin-bottom:15px;position:relative;-webkit-transition:top ease-in-out .1s;-moz-transition:top ease-in-out .1s;-o-transition:top ease-in-out .1s;-ms-transition:top ease-in-out .1s;-webkit-transition:top ease-in-out .1s;-moz-transition:top ease-in-out .1s;-o-transition:top ease-in-out .1s;-ms-transition:top ease-in-out .1s;transition:top ease-in-out .1s;top:0}
.b-contact-us__features-item-icon:hover{top:-10px}
.b-contact-us__features-item-icon_icon_rocket{background:url("../blocks/b-contact-us/rocket.png") no-repeat}
.b-contact-us__features-item-icon_icon_love{background:url("../blocks/b-contact-us/love.png") no-repeat}
.b-contact-us__features-item-icon_icon_dumbbell{background:url("../blocks/b-contact-us/dumbbell.png") no-repeat}
.b-contact-us__features-item-icon_icon_chart{background:url("../blocks/b-contact-us/chart.png") no-repeat}
.b-contact-us__features-item-icon_icon_mouse{background:url("../blocks/b-contact-us/mouse.png") no-repeat}
.b-contact-us__features-item-icon_icon_led{background:url("../blocks/b-contact-us/led.png") no-repeat}
.b-footer__menu{background:#000;color:#fff}
.b-footer__menu-colums{width:900px;margin:auto;padding:55px 0;position:relative;left:50px}
.b-footer__menu-column{width:300px;display:inline-block;vertical-align:top;margin-right:-4px}
.b-footer__menu-title{font-size:22px;font-family:'Proxima-Bold';margin-bottom:23px}
.b-footer__menu-link{font-size:16px;line-height:20px;text-decoration:none;color:#fff;opacity:1;-webkit-transition:opacity linear .1s;-moz-transition:opacity linear .1s;-o-transition:opacity linear .1s;-ms-transition:opacity linear .1s;-webkit-transition:opacity linear .1s;-moz-transition:opacity linear .1s;-o-transition:opacity linear .1s;-ms-transition:opacity linear .1s;transition:opacity linear .1s}
.b-footer__menu-link:hover{opacity:.6;}
.b-footer__menu-link-row{margin-bottom:14px}
.b-footer__menu-column .b-footer__menu-link-row:last-child{margin-bottom:0}
.b-footer__contacts{height:60px;background:#2b2e2e}
.b-footer__contacts-wrapper{width:800px;margin:auto}
.b-footer__contacts-link{height:60px;font-size:16px;line-height:60px;color:#fff;text-decoration:none;margin-right:30px;padding-right:34px;padding-top:5px;padding-bottom:5px;opacity:1;-webkit-transition:opacity linear .1s;-moz-transition:opacity linear .1s;-o-transition:opacity linear .1s;-ms-transition:opacity linear .1s;-webkit-transition:opacity linear .1s;-moz-transition:opacity linear .1s;-o-transition:opacity linear .1s;-ms-transition:opacity linear .1s;transition:opacity linear .1s}
.b-footer__contacts-link:hover{opacity:.6;}
.b-footer__contacts-list{float:left}
.b-footer__contacts-copyright{float:right}
.b-footer__contacts-wrapper:after{content:'';display:block;clear:both}
.b-footer__contacts-copyright{font-size:16px;line-height:60px;color:#fff}
.b-footer__contacts-link_type_mail{background:url("../blocks/b-footer/mail.png") center right no-repeat}
.b-footer__contacts-link_type_fb{background:url("../blocks/b-footer/fb.png") center right no-repeat}
.b-footer__contacts-link_type_vimeo{background:url("../blocks/b-footer/vimeo.png") center right no-repeat}
.b-header{width:100%;height:400px;background-repeat:no-repeat;background-position:top center}
.b-header__top{width:1000px;margin:auto;font-family:'Proxima-Regular';position:relative;left:-25px}
.b-header__top:after{display:block;content:'';clear:both}
.b-header_page_portfolio{background-image:url("../blocks/b-header/bg-portfolio.jpg")}
.b-header_page_main{background-image:url("../blocks/b-header/bg-main.jpg");border-bottom:solid 4px #f1f1f1}
.b-lets-work{width:100%;height:285px;background:url("../blocks/b-lets-work/bg.png") center 45px no-repeat;text-align:center;}
.b-lets-work__title{width:550px;margin:auto;font-family:'Proxima-Bold';font-size:32px;line-height:40px;text-transform:uppercase;padding-top:60px;position:relative}
.b-lets-work__button{margin-top:30px}
.b-lets-work__rocket{width:43px;height:47px;background:url("rocket.png") no-repeat;position:absolute;top:50px;right:-10px;z-index:999}
.b-lets-work__rocket_animate_yes{-webkit-transition:-webkit-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-moz-transition:-moz-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-ms-transition:-ms-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-webkit-transition:-webkit-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-moz-transition:-moz-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-o-transition:-o-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-ms-transition:-ms-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-webkit-transition:-webkit-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-moz-transition:-moz-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-o-transition:-o-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-ms-transition:-ms-transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;transition:transform 1200ms cubic-bezier(.62,.02,.87,.35) 300ms;-webkit-transform:translate(750px,-950px);-moz-transform:translate(750px,-950px);-ms-transform:translate(750px,-950px);-webkit-transform:translate(750px,-950px);-moz-transform:translate(750px,-950px);-o-transform:translate(750px,-950px);-ms-transform:translate(750px,-950px);-webkit-transform:translate(750px,-950px);-moz-transform:translate(750px,-950px);-o-transform:translate(750px,-950px);-ms-transform:translate(750px,-950px);transform:translate(750px,-950px)}
.b-logo{width:36px;height:29px;display:block;background:url("../blocks/b-logo/logo.png") no-repeat;float:left;margin-top:11px}
.b-menu{float:right;padding-top:20px}
.b-menu__item{font-size:14px;line-height:14px;margin-right:33px;float:left;color:#fff;text-decoration:none;text-transform:uppercase;font-weight:normal;opacity:1;-webkit-transition:opacity linear .1s;-moz-transition:opacity linear .1s;-o-transition:opacity linear .1s;-ms-transition:opacity linear .1s;-webkit-transition:opacity linear .1s;-moz-transition:opacity linear .1s;-o-transition:opacity linear .1s;-ms-transition:opacity linear .1s;transition:opacity linear .1s}
.b-menu__item:hover{opacity:.6;}
.b-menu__item_active_yes{font-family:'Proxima-Bold'}
.b-menu__item_active_yes,.b-menu__item_active_yes:hover{opacity:1;}
.b-page{font-family:'Proxima-Regular';-webkit-font-smoothing:antialiased;overflow-x:hidden}
.b-popup__wrp{position:fixed;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0.7);display:none;z-index:10}
.show.b-popup__wrp{display:block}
.b-popup__content{background-color:#fff;padding:30px 70px 40px;position:absolute;left:50%;top:50%;margin-left:-219px;margin-top:-250px;-webkit-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;color:#000;width:438px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:none}
.b-popup__title{margin:0;font-size:32px;margin-bottom:11px;text-align:center;font-weight:bolder}
.b-popup__content .b-popup__title{text-align:left;padding-top:19px;margin-bottom:31px}
.b-popup__text{margin:10px 0 19px;font-size:22px;line-height:25px;text-align:center}
.b-popup__phone{border:1px solid #ccc;background-color:#fff;padding:9px 13px 9px 13px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:17px;height:44px;font-family:'Proxima-Regular';font-size:22px}
.b-popup__phone:focus{outline:none;border-color:#525659}
.b-popup__phone::-webkit-input-placeholder{color:#989898}
.b-popup__phone:-moz-placeholder{color:#989898}
.b-popup__mail{border:1px solid #ccc;background-color:#fff;padding:9px 13px;height:44px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:17px;font-family:'Proxima-Regular';font-size:22px}
.b-popup__mail:focus{outline:none;border-color:#525659}
.b-popup__mail::-webkit-input-placeholder{color:#989898}
.b-popup__mail:-moz-placeholder{color:#989898}
.b-popup__input-wrp{position:relative}
.b-popup__placeholder{color:#000;font-size:1rem;position:absolute;top:10px;left:15px}
.b-popup__textarea{border:1px solid #ccc;background-color:#fff;padding:9px 13px;width:100%;max-width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:0;height:228px;font-family:'Proxima-Regular';font-size:22px;max-height:460px}
.b-popup__textarea:focus{outline:none;border-color:#525659}
.b-popup__textarea::-webkit-input-placeholder{color:#989898}
.b-popup__textarea:-moz-placeholder{color:#989898}
.b-popup__submit{color:#fff;padding:0 15px;width:100%;font-size:22px;height:60px;outline:none;cursor:pointer;margin-top:15px;border:1px solid #aa050f;background:#aa050f;font-family:'Proxima-Bold';-webkit-transition:all linear .1s;-moz-transition:all linear .1s;-o-transition:all linear .1s;-ms-transition:all linear .1s;-webkit-transition:all linear .1s;-moz-transition:all linear .1s;-o-transition:all linear .1s;-ms-transition:all linear .1s;transition:all linear .1s}
.b-popup__submit:hover{background-color:#fff;color:#aa050f}
.b-popup__submit:active{background:#aa050f;color:#fff}
.b-popup__close{position:absolute;right:20px;top:20px;font-size:30px;width:14px;height:14px;opacity:.28;background:transparent url("b-popup__close.png");border:none;cursor:pointer;outline:none;z-index:1}
.b-popup__close:hover{opacity:1;}
.b-popup__thank-content{display:none;background-color:#fff;padding:20px 75px 40px;position:absolute;left:50%;top:50%;margin-left:-219px;margin-top:-270px;-webkit-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;color:#000;width:438px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:540px}
.b-popup__thank-content .b-popup__title{line-height:36px;margin-bottom:20px;padding-top:15px}
.b-popup__thank-content.show{display:block}
.b-popup__text-wrp{width:230px;margin:0 auto;text-align:center}
.b-popup__text_thanks{color:#000;margin:10px 0 2px;font-size:22px;line-height:25px}
.b-popup__text_thanks>p{margin-top:10px;margin-bottom:0}
.b-popup__subscr-content{display:none;background-color:#fff;padding:40px 75px;position:absolute;left:50%;top:50%;margin-left:-313px;margin-top:-168px;color:#000;width:625px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:335px}
.b-popup__subscr-thank-image{position:absolute;right:80px;top:15px}
.b-popup-error{color:$linkVisited;margin:0 0 10px}
.b-popup__link{color:#aa050f;text-decoration:none}
.b-promo{width:600px;height:80px;text-align:center;margin:auto}
.b-promo__title{font-size:42px;line-height:48px;font-family:'Proxima-Bold';color:#fff;text-transform:uppercase}
.b-promo_page_portfolio{padding-top:120px}
.b-promo_page_main{padding-top:105px}
.b-quads{width:100%;border-top:solid 4px #f1f1f1;position:relative;}
.b-quads__items{font-size:0}
.b-quads__item{display:inline-block;vertical-align:top;width:50%;height:460px;line-height:460px;text-align:center;position:relative;overflow:hidden;margin-right:-2px;cursor:pointer;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-perspective:800px;-moz-perspective:800px;-ms-perspective:800px;-webkit-perspective:800px;-moz-perspective:800px;-ms-perspective:800px;perspective:800px}
.b-quads__item,.b-quads__item:hover,.b-quads__item:active{color:#2a2a2a}
.b-quads__item-card{position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;-webkit-transition:-webkit-transform .4s;-moz-transition:-moz-transform .4s;-o-transition:-o-transform .4s;-ms-transition:-ms-transform .4s;-webkit-transition:-webkit-transform .4s;-moz-transition:-moz-transform .4s;-o-transition:-o-transform .4s;-ms-transition:-ms-transform .4s;transition:transform .4s;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}
.b-quads__item_num_1{background:#fafafa}
.b-quads__item_num_2{background:#e9eaea}
.b-quads__item_num_3{background:#f7f7f7}
.b-quads__item_num_4{background:#f0f0ef}
.b-quads__title{width:100%;position:absolute;top:53px;text-align:center;pointer-events:none}
.b-quads__img-wr{height:352px;text-align:center}
.b-quads__title-text{display:inline-block;vertical-align:top;font-size:32px;line-height:34px;padding:2px 6px;padding-bottom:0;font-family:'Proxima-Bold';text-transform:uppercase;color:#fff;background:#000;margin-bottom:8px;pointer-events:none}
.b-quads__item-title{width:100%;font-size:16px;line-height:28px;text-align:center;text-transform:uppercase}
.b-quads__item-img_pos_1{margin:-70px 0 0 70px}
.b-quads__item-img_pos_2{margin:-45px 0 0}
.b-quads__item-img_pos_3{margin:-83px 0 0}
.b-quads__item-img_pos_4{margin:-58px 0 0}
.b-quads__item-img_pos_5{margin:-77px 0 0 15px}
.b-quads__item-img_pos_6{margin:-68px 0 0 5px}
.b-quads__item-img_pos_7{margin:-60px 0 0 -15px}
.b-quads__item-img_pos_8{margin:-10px 0 0 -68px}
.b-quads__item-img_pos_9{margin:-75px 0 0 8px}
.b-quads__item-img_pos_10{margin:-74px 0 0 -10px}
.b-quads__item-img_pos_11{margin:-70px 0 0 40px}
.b-quads__item-img_pos_12{margin:-86px 0 0 18px}
.b-quads__item-after-hover{width:100%;height:100%;position:absolute;line-height:460px;-webkit-transform:rotateX(180deg);-moz-transform:rotateX(180deg);-o-transform:rotateX(180deg);-ms-transform:rotateX(180deg);-webkit-transform:rotateX(180deg);-moz-transform:rotateX(180deg);-o-transform:rotateX(180deg);-ms-transform:rotateX(180deg);transform:rotateX(180deg);overflow:hidden;background:#fff;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}
.b-quads__item:hover .b-quads__item-card{-webkit-transform:rotateX(180deg);-moz-transform:rotateX(180deg);-o-transform:rotateX(180deg);-ms-transform:rotateX(180deg);-webkit-transform:rotateX(180deg);-moz-transform:rotateX(180deg);-o-transform:rotateX(180deg);-ms-transform:rotateX(180deg);transform:rotateX(180deg)}
.b-quads__item-before-hover{width:100%;height:100%;text-align:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:40px;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-o-backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}
.b-quads__item-content{width:300px;height:160px;line-height:20px;text-align:center;vertical-align:middle;display:inline-block;}
.b-quads__item-content-title{-webkit-transition:color ease-in-out .2s;-moz-transition:color ease-in-out .2s;-o-transition:color ease-in-out .2s;-ms-transition:color ease-in-out .2s;-webkit-transition:color ease-in-out .2s;-moz-transition:color ease-in-out .2s;-o-transition:color ease-in-out .2s;-ms-transition:color ease-in-out .2s;transition:color ease-in-out .2s;font-size:22px;line-height:28px;font-family:'Proxima-Bold';text-transform:uppercase;padding-bottom:6px}
.b-quads__item-content-text{font-size:16px;line-height:20px;margin-bottom:20px}
.b-quads__item-content-line{width:154px;height:1px;background:#a1a1a1;border-top:solid 1px #ddd;margin:auto;margin-top:15px;margin-bottom:15px}
.b-quads__item-img-hover_pos_1{position:absolute;left:-117px;bottom:-140px}
.b-quads__item-img-hover_pos_2{position:absolute;right:-117px;bottom:-130px}
.b-quads__item-img-hover_pos_3{position:absolute;left:-117px;bottom:-130px}
.b-quads__item-img-hover_pos_4{position:absolute;right:-117px;bottom:-115px}
.b-quads__item-img-hover_pos_5{position:absolute;left:-117px;bottom:-280px}
.b-quads__item-img-hover_pos_6{position:absolute;right:-210px;bottom:-250px}
.b-quads__item-img-hover_pos_7{position:absolute;left:-100px;bottom:-90px}
.b-quads__item-img-hover_pos_8{position:absolute;right:-130px;bottom:-240px}
.b-quads__item-img-hover_pos_9{position:absolute;left:-130px;bottom:-30px}
.b-quads__item-img-hover_pos_10{position:absolute;right:-90px;bottom:-90px}
.b-quads__item-img-hover_pos_11{position:absolute;left:-30px;bottom:-130px}
.b-quads__item-img-hover_pos_12{position:absolute;right:-150px;bottom:-140px}
.b-quads__item-content-text_highlight_1{background:#58919f;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_2{background:#d7453f;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_3{background:#dab539;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_4{background:#75aeba;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_5{background:#4c8448;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_6{background:#d7453f;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_7{background:#dab539;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_8{background:#75aeba;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_9{background:#4c8448;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_10{background:#d7453f;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_11{background:#dab539;color:#fff;padding:0 3px}
.b-quads__item-content-text_highlight_12{background:#75aeba;color:#fff;padding:0 3px}
.b-section{width:100%;height:100%}
.b-section__wrapper{min-width:960px;max-width:1160px;margin:auto;padding:0 20px}
.b-services{text-align:center;max-width:100%;overflow:hidden}
.b-services__item{overflow:hidden;display:inline-block;width:34.1%;text-align:left;position:relative;margin:-10px;outline:none}
.b-services__item-name{width:100%;text-align:center;position:absolute;top:50%;margin-top:-20px}
.b-services__item-name-text{color:#4b88d8;font-size:32px;line-height:39px;padding:0 12px;background:rgba(255,255,255,0.9);font-family:'Proxima-Bold';text-transform:uppercase}
.b-services__item-img{max-width:101%;height:auto;position:relative;display:block;margin-left:-3%;margin-top:-3%;-webkit-transition:-webkit-transform .3s;-moz-transition:-moz-transform .3s;-ms-transition:-moz-transform .3s;-webkit-transition:-webkit-transform .3s;-moz-transition:-moz-transform .3s;-o-transition:-o-transform .3s;-ms-transition:-ms-transform .3s;-webkit-transition:-webkit-transform .3s;-moz-transition:-moz-transform .3s;-o-transition:-o-transform .3s;-ms-transition:-ms-transform .3s;transition:transform .3s}
.b-services__item:hover .b-services__item-img{-webkit-transform:translate(3%,3%);-moz-transform:translate(3%,3%);-ms-transform:translate(3%,3%);-webkit-transform:translate(3%,3%);-moz-transform:translate(3%,3%);-o-transform:translate(3%,3%);-ms-transform:translate(3%,3%);-webkit-transform:translate(3%,3%);-moz-transform:translate(3%,3%);-o-transform:translate(3%,3%);-ms-transform:translate(3%,3%);transform:translate(3%,3%)}
.b-services__container{width:102.5%}
.b-smart-projects{text-align:center;background:url("../blocks/b-smart-projects/bg.png") no-repeat center 160px;padding:50px 0}
.b-smart-projects__title{width:500px;font-size:32px;line-height:40px;font-family:'Proxima-Bold';text-transform:uppercase;margin:auto}
.b-smart-projects__lasttext{font-size:32px;line-height:40px;font-family:'Proxima-Bold';text-transform:uppercase}
.b-smart-projects__subtitle{font-size:22px;line-height:20px;font-family:'Proxima-Bold'}
.b-smart-projects__clients-item{display:inline-block;vertical-align:top}
.b-smart-projects__clients-clear{width:100%;display:inline-block;vertical-align:top}
.b-smart-projects__clients-item_client_microsoft{width:214px;height:46px;background:url("../blocks/b-smart-projects/microsoft.png") no-repeat;margin-top:8px;margin-right:115px}
.b-smart-projects__clients-item_client_sap{width:101px;height:50px;background:url("../blocks/b-smart-projects/sap.png") no-repeat;margin-top:6px;margin-right:210px}
.b-smart-projects__clients-item_client_domru{width:62px;height:62px;background:url("../blocks/b-smart-projects/domru.png") no-repeat}
.b-smart-projects__clients{width:710px;margin:auto;margin-top:55px;margin-bottom:55px;text-align:justify}
.b-work-menu{text-align:center;padding:15px 0}
.b-work-menu__item{display:inline-block;vertical-align:top;font-size:22px;line-height:42px;text-transform:uppercase;height:42px;overflow:hidden}
.b-work-menu__item:hover .b-work-menu__link,.b-work-menu__item_active_yes .b-work-menu__link{top:0}
.b-work-menu__item_active_yes .b-work-menu__link_active_yes{background:#000}
.b-work-menu__link{color:#101618;padding:0 22px;display:block;text-decoration:none;-webkit-transition:top ease-in-out .4s;-moz-transition:top ease-in-out .4s;-o-transition:top ease-in-out .4s;-ms-transition:top ease-in-out .4s;-webkit-transition:top ease-in-out .4s;-moz-transition:top ease-in-out .4s;-o-transition:top ease-in-out .4s;-ms-transition:top ease-in-out .4s;transition:top ease-in-out .4s;top:-42px;position:relative}
.b-work-menu__link_active_yes{color:#fff;background:#4b88d8}
.b-works{vertical-align:top;text-align:center}
.b-works__item{width:100%;min-width:435px;height:300px;display:inline-block;vertical-align:top;position:relative;text-decoration:none;margin:0;overflow:hidden;}
@media (min-width: 870px){.b-works__item{width:50%}
}@media (min-width: 1305px){.b-works__item{width:33.33333%}
}.b-works__item-img{position:absolute;top:0;left:0;min-width:100%;min-height:100%}
.b-works__item-name{text-align:left;display:block;width:100%;padding:0 16px;position:absolute;bottom:0;left:0;font-size:22px;line-height:51px;color:#4f83d5;background:rgba(255,255,255,0.9);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
